*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar */

.Nav-main{
    background-color: black;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.logo{
    flex: 1;
}

.log{
    flex: 1;
}

.pages{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
    letter-spacing: 1px;
}


/* Login */
.Login-main{
    background-color: white;
    height: 92vh;
    display: flex;
    width: 100%;
}

.left{
    flex: 1;
    
}

.right{
    flex: 1;
}

.form{
    width: 60%;
    position: relative;
    top: 20%;
    left: 20%;
    height: 57%;
    border:1px solid rgb(182, 182, 182);
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.non-hover :hover{
    text-decoration: none;
    color: white;
}

.form-text{
    color: grey;
    font-size: 13px;
    padding: 0 0 20px 0px;
    letter-spacing: 0.7px;
}

.form-text a{
    color: blue;
    
}

.heading{
    align-self: center;
    padding-bottom: 40px;
}

.btn{
    width: 100px;
    margin-top: 30px;
}



/* Home Left */
.left img{
    width: 800px;
    margin-left: 100px;
}



  
/* register form */

.register-form{
    width: 60%;
    position: relative;
    top: 10%;
    left: 20%;
    height: 85%;
    border:1px solid rgb(182, 182, 182);
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.btn{
    width: 100px;
    margin-top: 20px;
}


/* Home section */

.home-main{
  height: 120vh;
  display: flex; 
  flex-direction: column;
}

.img-search {
  flex: 1;
  background-image: url('../utils/2.jpg');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.content-search{
  width: 600px;
  padding: 12px;
  outline: none;
  border: 1px solid grey;
  position: absolute;
  left: 25%;
  top:330px;
  letter-spacing: 1px;
  border-radius: 6px;
}

.search-btn button{
  padding: 12px;
  width: 200px;
  background-color: blueviolet;
  color: white;
  outline: none;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 5px;
}

.search-btn{
  position: absolute;
  left: 61%;
  top: 330px;
  
}

.features{
  flex: 2;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.features .card-container{
  width: 90%;
  height: 90%;
  
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 280px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-radius: 6px;
  transition: all 0.6s ease-in-out;
  color: blueviolet;
  border: none;
  background-color: white;
}

.card:hover{
  scale: 1.1;
  transition: all 0.6s ease-in-out;
}

.card-logo{
  flex: 1;
  padding-top: 50px;
}

.card2,.card3,.card4{
  margin-left: 130px;
}

.card-feature{
  flex: 1;
  letter-spacing: 2px;
}

.card6{
  margin-left: 130px;
}

.card5{
  margin-left: 410px;
}

.card-feature h3{
  font-size: 16px;
}

.card img{
  width: 100px;
  height: 100px;
  
}

/* Map */
.map-main{
    display: flex;
    height: 92vh;
}

.map-left{
    flex: 1;
    overflow: scroll;
    height: 92vh;

}


.map-right{
    flex: 2;
    width: 100%;
    height: 100%;

}



.map-left .map-card{
    height: 150px;
    width: 87%;
    background-color: green;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 10px;
    border: 0.5px solid blueviolet;
}



.map-card .img-location{
    flex: 1;
    width: 100%;
    height: 100%;
    background-image: url('../utils//Maplocation_-5a492a4e482c52003601ea25.jpg');
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.map-card .available h6{
    margin-top: 10px;
}

.map-card .details-location{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.map-card .details-location .location-price{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.map-card .details-location h6{
    font-size: 14px;
    letter-spacing: 10ox;
}

.map-card .details-location .available{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.map-card .details-location .btns{
    flex: 1;
    display: flex;
    margin-top: 10px;
}

.map-card .details-location .btns .instant-btn{
    flex: 1;
}

.map-card .details-location .btns .pre-btn{
    flex: 1;
}

.map-card .pre-btn button{
    width: 100px;
    padding: 2px;
    border: none;
    color: blueviolet;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.map-card .instant-btn button{
    width: 100px;
    padding: 2px;
    border: none;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    

}

.map-card .btns{
    gap: 80px;
    
}




/* PARK */



/* park */
.p-main {
    display: flex;
    flex-direction: column;
    height: 92vh;
  }
  .p-top {
    height: 160px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p-top-sub {
    height: 80px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .p-zone-btnactive {
    border: none;
    background-color: white;
    margin-right: 30px;
    color: rgb(72, 72, 72);
    letter-spacing: 0.6px;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 2px solid #b26af9;
    padding-bottom: 5px;
  }
  .p-zone-btn {
    border: none;
    background-color: white;
    margin-right: 30px;
    color: rgb(72, 72, 72);
    letter-spacing: 0.6px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .p-bottom {
    flex: 10;
   
  
    display: flex;
    align-items: center;
  
    justify-content: center;
  }
  .p-block {
    width: 400px;
    border: 1px dotted gray;
    height: 75%;
    margin-top: 40px;
    display: flex;
  }
  .p-b-l-sub {
    border: 1px dotted gray;
    height: 80px;
    width: 85%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(207, 207, 207);
    cursor: pointer;
  }
  .p-b-right {
    flex: 1;
  }
  .p-b-left {
    flex: 1;
  }
  .div-btn {
    display: flex;
  
    justify-content: center;
    height: 70px;
    
  }
  .c-btn {
    height: 40px;
    width: 400px;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.2s all ease-in;
  }
  
  .spin {
    background-color: rgb(217, 217, 217);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .c-btn:hover {
    transition: 0.2s all ease-in;
    background-color: rgb(57, 57, 57);
    color: white;
  }
  .activegreen {
    border: 2px solid rgb(33, 185, 33);
  }
  .click-active {
    background-color: green;
  }
  .activered {
    border: 2px solid red;
  }
  .car-img {
    height: 70%;
    width: 70%;
  }
  .car-img2 {
    height: 70%;
    width: 70%;
  
    transform: rotate(180deg);
  }
  .active {
    border: 2px solid black;
  }
  
  