*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar */

.Nav-main{
    background-color: black;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.logo{
    flex: 1;
}

.log{
    flex: 1;
}

.pages{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
    letter-spacing: 1px;
}


/* Login */
.Login-main{
    background-color: white;
    height: 92vh;
    display: flex;
    width: 100%;
}

.left{
    flex: 1;
}

.right{
    flex: 1;
}

.form{
    width: 60%;
    position: relative;
    top: 20%;
    left: 20%;
    height: 57%;
    border:1px solid rgb(182, 182, 182);
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.non-hover :hover{
    text-decoration: none;
    color: white;
}

.form-text{
    color: grey;
    font-size: 13px;
    padding: 0 0 20px 0px;
    letter-spacing: 0.7px;
}

.form-text a{
    color: blue;
    
}

.heading{
    align-self: center;
    padding-bottom: 40px;
}

.btn{
    width: 100px;
    margin-top: 30px;
}