*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar */

.Nav-main{
    background-color: black;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.logo{
    flex: 1;
}

.log{
    flex: 1;
}

.pages{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
    letter-spacing: 1px;
}


/* Login */
.Login-main{
    background-color: white;
    height: 92vh;
    display: flex;
    width: 100%;
}

.left{
    flex: 1;
    
}

.right{
    flex: 1;
}

.form{
    width: 60%;
    position: relative;
    top: 20%;
    left: 20%;
    height: 57%;
    border:1px solid rgb(182, 182, 182);
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.non-hover :hover{
    text-decoration: none;
    color: white;
}

.form-text{
    color: grey;
    font-size: 13px;
    padding: 0 0 20px 0px;
    letter-spacing: 0.7px;
}

.form-text a{
    color: blue;
    
}

.heading{
    align-self: center;
    padding-bottom: 40px;
}

.btn{
    width: 100px;
    margin-top: 30px;
}



/* Home Left */
.left img{
    width: 800px;
    margin-left: 100px;
}



  
/* register form */

.register-form{
    width: 60%;
    position: relative;
    top: 10%;
    left: 20%;
    height: 85%;
    border:1px solid rgb(182, 182, 182);
    padding: 60px;
    display: flex;
    flex-direction: column;
}

.btn{
    width: 100px;
    margin-top: 20px;
}


/* Home section */

.Home-main{
    display: flex;
    flex-direction: column;
    height: 92vh;
    position: relative;
    background-image: url('../utils/vecteezy_underground-car-parking-garage-with-vehicle_14068211.jpg');
}


.Home-main .content-section{
  
    position: relative;
    width: 1000px;
    left: 350px;
    top: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.content-top{
    display: flex;
}

.content-top .content-search{
    width: 600px;
    height: 60px;
}

.content-top .content-search input{
    border-radius: 2px;
    border: none;
    padding-left: 20px;
    border: 1px solid grey;
    font-size: 20px;
    letter-spacing: 1px;
}

.content-top .content-search input:focus{
    outline: none;
}

.content-top .content-btn button{
    width: 200px;
    height: 60px;
    outline: none;
    border-radius: 2px;
    border: none;
    color: white;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(159,113,220,1) 0%, rgba(150,94,215,1) 35%, rgba(123,48,196,1) 100%);
}


.content-top .content-btn a{
    font-size: 20px;
    letter-spacing: 1px;
}  

.content-top .content-btn button a:hover{
    text-decoration: none;
    color: white;
}   
